.aboutUs {
  padding: 60px 0;
}

.header h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 3.5rem;
}

.section {
  margin-bottom: 60px;
  padding: 40px 20px;
  background: linear-gradient(to right, #d6e9ff, #eaf4ff);
  border-radius: 15px;
}

.section:nth-child(even) {
  background: linear-gradient(to right, #eaf4ff, #d6e9ff);
}

.image {
  max-width: 100%;
  border-radius: 15px;
  width: 80%;
}

.iconBlock {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 2.5rem;
}

.contactSection {
  text-align: center;
}

.contactBlock ul {
  list-style: none;
  padding: 0;
}

.contactBlock li {
  margin-bottom: 10px;
}

.contactBlock a {
  color: #002b5b;
  text-decoration: none;
  font-weight: bold;
}

.customWidth {
  width: 65%;
}

.founderCustomImage {
  border-radius: 50%;
  width: 70%;
  max-width: 100%;
}
