.benefits-section {
  background-color: #cfe8fc;
  padding: 50px 0;
}

.benefits-section .card {
  border: none;
  background: #fffd8d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
}

.benefits-section .card:hover {
  transform: translateY(-10px);
}

.benefits-section .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
  color: #002b5b;
}

.benefits-section .card-text {
  font-size: 1rem;
  color: #333;
}

.benefits-section .btn-primary {
  background-color: #002b5b;
  border: none;
}
.benefits-section h2, .benefits-section h5 {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 2.5rem;
}

.benefits-section p {
  font-family: "Comic Neue", cursive;
  font-size: 1.2rem;
}