/* .banner {
  background: linear-gradient(
    45deg,
    #ff8a65,
    #ffd54f,
    #ffd54f,
    #4fc3f7
  ); 
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 0;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #ff8a65,
    #ffd54f,
    #ffd54f,
    #4fc3f7
  ); /* Same gradient as .banner */
/* } */
.banner {
  background: url("https://i.ibb.co/myLJDGN/banner5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #002b5b;
}

.banner p {
  color: rgb(245, 122, 216);
  font-size: 1.5rem;
}
