/* hero.module.css */

.banner {
  background: url("https://i.ibb.co/myLJDGN/banner5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px;
}

.banner h1 {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #002b5b;
}

.banner p {
  color: rgb(245, 122, 216);
  font-size: 1.5rem;
}

.banner .btn-success {
  background-color: #002b5b;
}

.banner .btn-warning {
  color: #ffffff;
}

.banner h1 {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 4rem;
}

.banner p {
  font-family: "Comic Neue", cursive;
}
