/* hero.module.css */
.banner {
  background: url("/src/img/StoryWorldHeroImage.avif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right center;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 50px;
  color: #fff; 
}

.banner h1 {
  font-family: "Bubblegum Sans", sans-serif;
  font-size: 5rem;
  margin-bottom: 20px;
  color: #002b5b;
}

.banner p {
  color: rgb(245, 122, 216);
  font-size: 2rem;
  font-family: "Comic Neue", cursive;
}

.banner .btn-success {
  background-color: #002b5b;
}

.banner .btn-warning {
  color: #ffffff;
}

