.navbar {
  background-color: #002b5b; 
  padding: 10px 20px; 
}

.brand {
  color: #ffffff; 
  font-size: 1.5rem; 
  font-weight: bold; 
}

.nav-link {
  color: #ffffff !important; 
  font-size: 1rem; 
  margin-right: 15px; 
}

.nav-link:hover {
  color: #ff6f61;
}

.navbar-brand {
  color: white !important;
}
#nav-dropdown {
  color: #ffffff;
}
.navbar i {
  font-size: 20px;
}
.right-nav-links li {
  color: #ffffff !important;
  font-size: 1rem;
  margin-right: 15px;
}
.right-nav-links:hover {
  color: #ff6f61;
}
